* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header h1 {
  color: white;
  font-size: 35px;
  margin-left: 15px;
  position: relative;
  display: block;
  transform: translateZ(150px);
  font-style: italic;
  text-shadow: 3px 2px 1.5px gray;
}
