li {
  list-style: none;
  margin: 15px 0 30px;
  padding: 0 10px;
  h4 {
    text-align: center;
    margin: 0;
  }
  p {
    text-align: center;
    margin: 5px;
  }
  span {
    display: block;
    text-align: center;
    margin: 5px auto;
    word-break: break-all;
  }
}
li button {
  display: block;
  height: 30px;
  width: 60px;
  border: none;
  margin: 10px auto;
  background-color: transparent;
  background-color: hsl(0, 0%, 100%);
  border-radius: 2px;
  font-weight: 300;
  font-size: 18px;
  cursor: pointer;
}
li button:hover {
  animation: hoverButtonEffect 0.5s both;
}

h4 button {
  width: 35px;
  display: block;
  top: 35px;
  left: -20%;
  position: relative;
}
div::-webkit-scrollbar {
  width: 10px;
}
div::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: hsl(0, 0%, 33%);
}

@keyframes hoverButtonEffect {
  0% {
    background-color: #fff;
    color: hsl(0, 0%, 0%);
  }
  100% {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
  }
}
